body a {
  text-decoration: none;
}
body img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
body h1 {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 1000;
  font-family: headerfont;
  /* text-transform: uppercase;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
body p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main section {
  width: 100%;
  height: 100%;
}
main .container {
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
main .sliderShow-section {
  display: flex;
  height: fit-content;
}
main .sliderShow-section .sliderShow-carousel {
  width: 94%;
}
main .sliderShow-section .sliderShow-carousel .category__item {
  position: relative;
  width: 100%;
  height: fit-content;
}
main .sliderShow-section .sliderShow-carousel .slick-dots {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  gap: 20px;
  text-align: center;
  margin-left: 30px;
  transform: translateY(-30px);
}
main .sliderShow-section .sliderShow-carousel .slick-dots li .dot {
  font-size: 50px;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: var(--primaryColor);
  cursor: pointer;
}
main .sliderShow-section .sliderShow-carousel .slick-dots li.slick-active .dot {
  font-size: 20px;
  background-color: #fff;
}
main .sliderShow-section .banner__side {
  position: relative;
  display: flex;
  background-color: var(--primaryColor);
  flex: 0 0 auto;
  width: 6%;
}
main .sliderShow-section .banner__side .nav {
  flex: 1 0 auto;
  bottom: 0;
  left: 75%;
  position: absolute;
  height: fit-content;
  display: flex;
  background-color: transparent;
  transform-origin: bottom left;
  transform: rotateZ(-90deg);
  width: 100%;
  margin-bottom: 3px;
}
main .sliderShow-section .banner__side .nav .box__content {
  background-color: transparent;
  height: fit-content;
}
main .sliderShow-section .banner__side .nav .box__content p {
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  white-space: nowrap;
  margin-left: 13px;
}
main .sliderShow-section .banner__side .nav .icon {
  margin: 10px 0px 0;
  width: 100%;
  flex: 1 0 auto;
  height: 30px;
  transform: translateY(-50%);
  list-style: none;
  background: transparent;
  display: flex;
  gap: 20px;
}
main .sliderShow-section .banner__side .nav .icon li {
  flex: 0 0 auto;
  transform: rotate(90deg);
}
main .presentation-section {
  padding: 80px 0 110px;
  background: var(--background_1);
  background-size: cover;
  color: var(--colorText_1) !important;
}
main .presentation-section .wrap__dess {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main .presentation-section .wrap__dess .box__img {
  border-radius: 20px;
  overflow: hidden;
  width: 50%;
  height: 100%;
}
main .presentation-section .wrap__dess .box__content {
  padding-left: 80px;
  width: 50%;
  height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}
main .presentation-section .wrap__dess .box__content .content {
  width: 100%;
  height: auto;
}
main .presentation-section .wrap__dess .box__content .content h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .presentation-section .wrap__dess .box__content .content .content-mainDescription {
  font-size: 20px;
  margin-bottom: 20px;
}
main .presentation-section .wrap__dess .box__content .content .content-mainDescription strong {
  font-weight: 1000;
}
main .presentation-section .wrap__dess .box__content .content .content-mainDescription span {
  font-weight: 200;
}
main .presentation-section .wrap__dess .box__content .content .content-subDescription {
  font-weight: 300;
  margin-bottom: 20px;
}
main .presentation-section .wrap__dess .box__content .box__btn {
  white-space: nowrap;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 30px;
  gap: 10px;
  padding: 5px 5px 5px 30px;
  background: var(--primaryColor);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
main .presentation-section .wrap__dess .box__content .box__btn .button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 10px;
  size: 10px;
  background-color: #fff;
  color: var(--primaryColor);
  border-radius: 50%;
}
main .presentation-section .warp__first {
  color: black;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .video-section {
  background-color: var(--background_1);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .video-section .box_video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--background_1);
}
main .video-section .box_video video {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
main .studyProcess-section {
  background: var(--background_2);
  color: var(--colorText_2);
  background-size: cover;
  padding: 50px 0 110px;
}
main .studyProcess-section .studyProcess-container {
  text-align: center;
}
main .studyProcess-section .studyProcess-container .processBox__content {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
main .studyProcess-section .studyProcess-container .wrap__dess {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}
main .studyProcess-section .studyProcess-container .wrap__dess .item {
  width: calc(25% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
main .studyProcess-section .studyProcess-container .wrap__dess .item .box__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .studyProcess-section .studyProcess-container .wrap__dess .item .box__content h3 {
  font-size: 16px;
  color: var(--colorText_2);
}
main .studyProcess-section .studyProcess-container .wrap__dess .item .box__content p {
  font-size: 14px;
}
main .thinkAbout__section {
  background: var(--background_3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0 100px;
  gap: 20px;
}
main .thinkAbout__section .thinkAbout__content {
  width: 60%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--colorText_3);
}
main .thinkAbout__section .thinkAbout__content h1 {
  width: 80%;
  font-size: 3em;
  font-weight: 1000;
}
main .thinkAbout__section .thinkAbout__category {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
}
main .thinkAbout__section .thinkAbout__category .slick-list {
  overflow: hidden;
  width: 100%;
}
main .thinkAbout__section .thinkAbout__category .slick-current {
  color: black !important;
  background-color: var(--background_1) !important;
}
main .thinkAbout__section .thinkAbout__category .slick-current > .box__img {
  background-color: var(--background_1) !important;
}
main .thinkAbout__section .thinkAbout__category .slick-track {
  margin: 0 auto;
  height: 600px;
  overflow-y: auto !important;
  padding-top: 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .thinkAbout__section .thinkAbout__category .slick-track .category__item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  height: 400px;
  color: #fff;
  background-color: var(--background_2);
  margin: 0 80px;
  padding: 110px 60px 0;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 24px;
  gap: 20px;
}
main .thinkAbout__section .thinkAbout__category .slick-track .category__item .box__img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 3px;
  background-color: var(--background_2);
  border-radius: 50%;
}
main .thinkAbout__section .thinkAbout__category .slick-track .category__item .box__content {
  color: var(--colorText_3);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
}
main .thinkAbout__section .thinkAbout__category .slick-track .category__item .des {
  font-weight: 200;
}
main .thinkAbout__section .slick-pre,
main .thinkAbout__section .slick-next {
  cursor: pointer;
  position: absolute;
  top: 350px;
  border: none;
  outline: none;
  color: var(--colorText_1);
  background: var(--background_1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10000;
  font-weight: 1000;
  font-size: 1em;
}
main .thinkAbout__section .slick-pre {
  left: 15%;
}
main .thinkAbout__section .slick-next {
  right: 15%;
}
main .newAndEvent-section {
  padding: 80px 0 110px;
  background-color: var(--background_1);
}
main .newAndEvent-section .newAnhEvent-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .newAndEvent-section .newAnhEvent-container .newAndEvent__content h1 {
  color: var(--colorText_1);
  margin-bottom: 50px;
}
main .newAndEvent-section .newAnhEvent-container .grid__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid-main {
  flex-grow: 1;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid {
  position: relative;
  width: 50%;
  height: fit-content;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
  background: transparent;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid a {
  color: var(--colorText_1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__content {
  text-overflow: ellipsis;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__content .content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__content .content h3 {
  text-align: start;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__content .box__date {
  position: absolute;
  padding: 10px 13px 20px;
  background-color: var(--primaryColor);
  top: 0;
  color: #fff;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__content .box__date .date {
  font-size: 35px;
  font-weight: 700;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__content .box__date .month {
  font-size: 10px;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__img {
  width: 100%;
  height: 360px;
  display: flex;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: end;
  border-radius: 14px;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__img img {
  max-width: 579px;
  height: 360px;
  object-fit: cover;
}
main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid a:hover img {
  transition: var(--animiation);
  transform: rotate(-5deg) scale(1.2);
}
main .newAndEvent-section .newAnhEvent-container .box__btn {
  white-space: nowrap;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 30px;
  gap: 10px;
  padding: 5px 5px 5px 30px;
  background: var(--primaryColor);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
main .newAndEvent-section .newAnhEvent-container .box__btn .button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 10px;
  size: 10px;
  background-color: #fff;
  color: var(--primaryColor);
  border-radius: 50%;
}
main .system-section {
  background: var(--background_1);
  padding: 50px 0 110px;
  color: var(--colorText_1);
}
main .system-section .system-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .system-section .system-container .box__content-left {
  width: 33.3333333333%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
main .system-section .system-container .box__content-left h1 {
  margin-bottom: 20px;
}
main .system-section .system-container .box__content-left .box__btn {
  white-space: nowrap;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 30px;
  gap: 10px;
  padding: 5px 5px 5px 30px;
  background: var(--primaryColor);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
main .system-section .system-container .box__content-left .box__btn .button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 10px;
  size: 10px;
  background-color: #fff;
  color: var(--primaryColor);
  border-radius: 50%;
}
main .system-section .system-container .box__img {
  width: 33.3333333333%;
}
main .system-section .system-container .box__content-right {
  width: 33.3333333333%;
  padding-left: 80px;
}
main .system-section .system-container .box__content-right .box__items {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
main .system-section .system-container .box__content-right .box__items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .system-section .system-container .box__content-right .box__items .item .counter {
  color: red;
  font-size: 4em;
  font-weight: 700;
}

@media only screen and (max-width: 1023px) {
  main .container {
    max-width: 960px;
  }
  main .sliderShow-section .sliderShow-carousel {
    width: 100%;
  }
  main .sliderShow-section .banner__side {
    display: none;
  }
  main .presentation-section .presentation-container .wrap__dess {
    flex-wrap: wrap;
  }
  main .presentation-section .presentation-container .wrap__dess .box__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .presentation-section .presentation-container .wrap__dess .box__content {
    padding: 0;
    width: 100%;
  }
  main .presentation-section .presentation-container .warp__first {
    justify-content: center;
  }
  main .presentation-section .presentation-container .warp__first .item {
    width: 33.3333333333%;
  }
  main .studyProcess-section .studyProcess-container .wrap__dess {
    flex-wrap: wrap;
  }
  main .studyProcess-section .studyProcess-container .wrap__dess .item {
    width: calc(50% - 30px);
  }
  main .newAndEvent-section .newAnhEvent-container {
    max-width: 824px;
  }
  main .thinkAbout__section .thinkAbout__content {
    width: 100%;
    padding: 30px;
  }
  main .thinkAbout__section .thinkAbout__category .slick-track {
    gap: 20px;
  }
  main .thinkAbout__section .thinkAbout__category .slick-track .category__item {
    width: 100%;
  }
  main .thinkAbout__section .thinkAbout__category .slick-pre {
    left: 5%;
  }
  main .thinkAbout__section .thinkAbout__category .slick-next {
    right: 5%;
  }
  main .system-section {
    gap: 50px;
  }
  main .system-section .system-container {
    flex-wrap: wrap;
  }
  main .system-section .system-container .box__content-left {
    width: 90%;
    margin-bottom: 50px;
  }
  main .system-section .system-container .box__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  main .system-section .system-container .box__content-right {
    padding: 0;
    width: 100%;
  }
  main .system-section .system-container .box__content-right .box__items {
    width: 100%;
    gap: 5px;
    flex-direction: row;
    justify-content: space-between;
  }
  main .system-section .system-container .box__content-right .box__items .item {
    width: 33.3333333333%;
    align-items: start;
    justify-content: center;
  }
  main .system-section .system-container .box__content-right .box__items .item h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  body h1 {
    font-size: 35px;
  }
  body p {
    font-size: 14px;
  }
  main .container {
    max-width: 824px;
  }
  main .presentation-section .presentation-container .warp__first {
    justify-content: start;
  }
  main .presentation-section .presentation-container .warp__first .item {
    width: 50%;
  }
  main .presentation-section .presentation-container .warp__last {
    flex-wrap: wrap;
  }
  main .presentation-section .presentation-container .warp__last .box__img {
    width: 100%;
  }
  main .presentation-section .presentation-container .warp__last .box__content {
    width: 100%;
  }
  main .studyProcess-section .studyProcess-container {
    padding: 0;
  }
  main .studyProcess-section .studyProcess-container .wrap__dess {
    flex-wrap: wrap;
  }
  main .studyProcess-section .studyProcess-container .wrap__dess .item {
    width: 100%;
  }
  main .studyProcess-section .studyProcess-container .wrap__dess .item .box__content {
    max-width: 270px;
  }
  main .thinkAbout__section .thinkAbout__content {
    padding: 0px 10px;
    height: fit-content;
    width: 100%;
  }
  main .thinkAbout__section .thinkAbout__content h1 {
    font-size: 1.3em;
    width: 100%;
  }
  main .thinkAbout__section .thinkAbout__category .slick-list .slick-track {
    gap: 0px;
    height: 650px;
  }
  main .thinkAbout__section .thinkAbout__category .slick-list .slick-track .category__item {
    height: 500px;
    padding: 110px 30px 0;
    margin: 5px;
  }
  main .newAndEvent-section .newAnhEvent-container .grid__container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid {
    width: 100%;
  }
  main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__img {
    height: 200px;
  }
  main .newAndEvent-section .newAnhEvent-container .grid__container .box__grid .box__img img {
    max-width: none;
    width: 100%;
    height: 200px;
  }
  main .system-section .system-container .box__content-right {
    padding: 0;
    width: 100%;
  }
  main .system-section .system-container .box__content-right .box__items {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .system-section .system-container .box__content-right .box__items .item {
    width: calc(50% - 5px);
    align-items: start;
    justify-content: center;
  }
  main .system-section .system-container .box__content-right .box__items .item .counter {
    font-size: 30px;
  }
  main .system-section .system-container .box__content-right .box__items .item h1 {
    font-size: 16px;
  }
}
@keyframes moveup {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes movedown {
  from {
    transform: translateY(70px);
  }
  to {
    transform: translateY(0);
  }
}/*# sourceMappingURL=homepage.css.map */