* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}
body h1 {
  font-size: 40px;
  font-weight: 1000;
  line-height: 1.3;
}
body h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
body p {
  font-size: 16px;
  line-height: 1.5;
}

main section {
  width: 100%;
  height: auto;
}
main .container {
  max-width: 1200px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
main .juniorBanner-section {
  display: flex;
  height: fit-content;
}
main .juniorBanner-section .box__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
main .juniorBanner-section .box__img img {
  object-fit: cover;
  height: 100%;
}
main .juniorBanner-section .banner__side {
  position: relative;
  display: flex;
  background-color: var(--primaryColor);
  flex: 0 0 auto;
  width: 6%;
}
main .juniorBanner-section .banner__side .nav {
  flex: 1 0 auto;
  bottom: 0;
  left: 75%;
  position: absolute;
  height: fit-content;
  display: flex;
  background-color: transparent;
  transform-origin: bottom left;
  transform: rotateZ(-90deg);
  width: 100%;
  margin-bottom: 3px;
}
main .juniorBanner-section .banner__side .nav .box__content {
  background-color: transparent;
  height: fit-content;
}
main .juniorBanner-section .banner__side .nav .box__content p {
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  white-space: nowrap;
  margin-left: 20px;
  text-transform: uppercase;
}
main .juniorBanner-section .banner__side .nav .icon {
  margin-top: 20px;
  width: 100%;
  flex: 1 0 auto;
  height: 30px;
  transform: translateY(-50%);
  list-style: none;
  background: transparent;
  display: flex;
  gap: 20px;
}
main .juniorBanner-section .banner__side .nav .icon li {
  flex: 0 0 auto;
  transform: rotate(90deg);
}
main .overview-section {
  padding: 50px 0 80px;
  background-color: var(--background_1);
  color: var(--colorText_1);
}
main .overview-section .overview__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .overview-section .overview__container .box__img {
  width: 50%;
  border-radius: 15px;
  overflow: hidden;
}
main .overview-section .overview__container .box__text {
  width: 50%;
  height: auto;
  padding-left: 50px;
}
main .advantage-section {
  background-color: var(--background_1);
  color: var(--colorText_1);
  padding: 50px 0 110px;
  overflow: hidden;
}
main .advantage-section .advantage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .advantage-section .advantage-container .advantage__content {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 50px;
}
main .advantage-section .advantage-container .advantage__list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 30px;
  text-align: start;
}
main .advantage-section .advantage-container .advantage__list .advantage__item {
  width: calc(33.3333333333% - 30px);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
main .advantage-section .advantage-container .advantage__list .advantage__item .box__img {
  position: absolute;
  left: 0;
  top: -80px;
  width: 100%;
  height: 100px;
  z-index: 10;
}
main .advantage-section .advantage-container .advantage__list .advantage__item .content {
  width: 100%;
  min-height: 300px;
  position: relative;
  padding: 50px 24px 24px;
  bottom: 0;
  background: linear-gradient(49.28deg, #ffffff 20.28%, #bbbbbb 33.45%, #bbbbbb 44.87%, #7c7c7c 58.92%, #ffffff 80.87%, #7c7c7c 93.17%, #ffffff 104.58%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  z-index: 0;
  color: #fff;
}
main .advantage-section .advantage-container .advantage__list .advantage__item .content h3 {
  color: var(--colorText_2);
  margin-bottom: 20px;
}
main .advantage-section .advantage-container .advantage__list .advantage__item .content p {
  color: var(--colorText_2);
}
main .advantage-section .advantage-container .advantage__list .advantage__item .content::before {
  content: "";
  position: absolute;
  background: var(--background_2);
  width: 97.5%;
  height: 97.5%;
  z-index: -1;
  border-radius: 22px;
  top: 3px;
  left: 3px;
}
main .method-section {
  padding: 0 0 110px;
  height: 600px;
  background-image: url("/assets/img/patten-02.png");
}
main .method-section .method__container {
  height: fit-content;
  position: relative;
  padding: 50px 10px 100px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .method-section .method__container .method__heading {
  display: flex;
  align-items: center;
  height: 200px;
  color: var(--colorText_2);
}
main .method-section .method__container .method__heading h1 {
  width: 30%;
}
main .method-section .method__container .method__heading .method__content {
  width: 70%;
  height: auto;
}
main .method-section .method__container .method__img {
  position: absolute;
  width: 80%;
  height: 400px;
  top: 250px;
  overflow: hidden;
}
main .method-section .method__container .method__img img {
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .duration-section {
  background-color: var(--background_1);
  padding: 80px 0 110px;
  color: var(--colorText_1);
}
main .duration-section .dur__container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .duration-section .dur__container h1 {
  margin-bottom: 70px;
}
main .duration-section .dur__container .dur__item__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
main .duration-section .dur__container .dur__item__wrap .dur__item {
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 30px 30px 30px 10px;
}
main .duration-section .dur__container .dur__item__wrap .dur__item .number {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.4);
}
main .duration-section .dur__container .dur__item__wrap .dur__item .text__wrap {
  margin-left: 45px;
}
main .duration-section .dur__container .dur__item__wrap .dur__item .text__wrap h4 {
  color: var(--colorText_2);
  text-align: start;
}
main .duration-section .dur__container .dur__item__wrap .dur__item .text__wrap .time {
  text-align: start;
  color: var(--colorText_2);
}
main .duration-section .dur__container .dur__item__wrap .item-1 {
  background-color: #003a42;
}
main .duration-section .dur__container .dur__item__wrap .item-2 {
  background-color: #167f82;
}
main .location-section {
  width: 100%;
  height: auto;
  background: url("/assets/img/patten-02.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  padding: 50px 0 110px;
}
main .location-section .location-container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: auto;
  text-align: center;
}
main .location-section .location-container .wrap__dess {
  box-shadow: 10px 0px 25px rgba(3, 3, 3, 0.2);
  background-color: var(--background_1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
  color: var(--colorText_1);
}
main .location-section .location-container .wrap__dess .wrap__map {
  width: 50%;
  height: 100%;
}
main .location-section .location-container .wrap__dess .wrap__map .map {
  width: 100%;
}
main .location-section .location-container .wrap__dess .wrap__desc {
  padding: 77px 18px 55px 101px;
  width: 50%;
  height: 100%;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__content {
  width: 100%;
  height: auto;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__content h1 {
  width: 100%;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: start;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__ress {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item {
  width: 100%;
  display: flex;
  align-items: center;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item h3 {
  text-align: start;
  width: 25%;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 30px;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item .content {
  max-width: 234px;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item .content p {
  text-align: justify;
  font-size: 14px;
  color: #231f20;
  margin-bottom: 1.5em;
  font-weight: 400;
}
main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item .content p a {
  color: var(--colorText_3);
}
main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item .content p a:hover {
  color: var(--colorText_1);
  transition: var(--animiation);
}

@media only screen and (max-width: 1200px) {
  main .duration-section .dur__container .dur__item__wrap {
    max-width: 840px;
  }
}
@media only screen and (max-width: 1023px) {
  main .container {
    max-width: 960px;
  }
  main .juniorBanner-section .banner__side {
    display: none;
  }
  main .overview-section .overview__container {
    flex-wrap: wrap;
  }
  main .overview-section .overview__container .box__img {
    width: 100%;
  }
  main .overview-section .overview__container .box__text {
    margin-top: 50px;
    padding-left: 0;
    width: 100%;
  }
  main .location-section .location-container {
    max-width: 824px;
  }
  main .location-section .location-container .wrap__dess {
    flex-wrap: wrap;
  }
  main .location-section .location-container .wrap__dess .wrap__map {
    width: 100%;
  }
  main .location-section .location-container .wrap__dess .wrap__desc {
    width: 100%;
    padding: 30px;
  }
  main .location-section .location-container .wrap__dess .wrap__desc .box__content h1 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item + .item {
    border-top: 1px solid #bbbbbb;
  }
  main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item h3 {
    margin-bottom: 10px;
  }
  main .location-section .location-container .wrap__dess .wrap__desc .box__ress .item .content p {
    margin-bottom: 10px;
  }
  main .method .method__container {
    padding: 80px 30px 270px 60px;
  }
}
@media only screen and (max-width: 767px) {
  body h1 {
    font-size: 35px;
  }
  body p {
    font-size: 14px;
  }
  main .container {
    max-width: 824px;
  }
  main .advantage-section .advantage-container .advantage__content h1 {
    font-size: 25px;
  }
  main .advantage-section .advantage-container .advantage__list {
    margin-bottom: 0px;
    flex-wrap: wrap;
  }
  main .advantage-section .advantage-container .advantage__list .advantage__item {
    width: 100%;
  }
  main .advantage-section .advantage-container .advantage__list .advantage__item .content {
    min-height: 0;
    height: fit-content;
  }
  main .method-section {
    padding: 0 0 110px;
    height: auto;
    background-image: url("/assets/img/patten-02.png");
  }
  main .method-section .method__container {
    height: fit-content;
    position: relative;
    padding: 50px 10px 0;
    flex-direction: column;
  }
  main .method-section .method__container .method__heading {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    color: var(--colorText_2);
  }
  main .method-section .method__container .method__heading h1 {
    width: 100%;
  }
  main .method-section .method__container .method__heading .method__content {
    width: 100%;
    height: auto;
  }
  main .method-section .method__container .method__img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0px;
  }
  main .method-section .method__container .method__img img {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .duration-section .dur__container .dur__item__wrap {
    width: 100%;
    flex-wrap: wrap;
  }
  main .duration-section .dur__container .dur__item__wrap .dur__item {
    width: 100%;
  }
}/*# sourceMappingURL=junior.css.map */