@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --mainRed: rgb(253, 0, 0);
  --animiation: 0.5s ease;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: red;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.01em;
  scroll-behavior: smooth;
}
body a {
  color: black;
  text-decoration: none;
}
body p {
  line-height: 30px;
}
body img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
body h1 {
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main section {
  width: 100%;
  height: auto;
}
main .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
main .methodBanner-section {
  display: flex;
  height: fit-content;
}
main .methodBanner-section .box__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
main .methodBanner-section .box__img img {
  object-fit: cover;
  height: 100%;
}
main .methodBanner-section .banner__side {
  position: relative;
  display: flex;
  background-color: #b11116;
  flex: 0 0 auto;
  width: 6%;
}
main .methodBanner-section .banner__side .nav {
  flex: 1 0 auto;
  bottom: 0;
  left: 75%;
  position: absolute;
  height: fit-content;
  display: flex;
  background-color: transparent;
  transform-origin: bottom left;
  transform: rotateZ(-90deg);
  width: 100%;
  margin-bottom: 3px;
}
main .methodBanner-section .banner__side .nav .box__content {
  background-color: transparent;
  height: fit-content;
}
main .methodBanner-section .banner__side .nav .box__content p {
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  white-space: nowrap;
  margin-left: 13px;
}
main .methodBanner-section .banner__side .nav .icon {
  margin: 10px 0px 0;
  width: 100%;
  flex: 1 0 auto;
  height: 30px;
  transform: translateY(-50%);
  list-style: none;
  background: transparent;
  display: flex;
  gap: 20px;
}
main .methodBanner-section .banner__side .nav .icon li {
  flex: 0 0 auto;
  transform: rotate(90deg);
}
main .methodStudy-section {
  padding: 50px 0 0px;
}
main .methodStudy-section .methodStudy-container .box__content {
  width: 100%;
  margin-bottom: 55px;
}
main .methodStudy-section .methodStudy-container .box__content h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
}
main .methodStudy-section .methodStudy-container .wrap__dess {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .methodStudy-section .methodStudy-container .wrap__dess .item {
  margin: 0 35px 25px;
  width: calc(50% - 70px);
  display: flex;
  justify-content: space-between;
}
main .methodStudy-section .methodStudy-container .wrap__dess .item .box__img {
  width: 134px;
  height: 134px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .methodStudy-section .methodStudy-container .wrap__dess .item .content {
  width: calc(100% - 134px);
  padding-left: 20px;
}
main .methodStudy-section .methodStudy-container .wrap__dess .item .content p {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 26px;
  font-weight: 300;
}
main .methodVideo-section .box__img {
  position: relative;
  width: 100%;
}
main .methodVideo-section .box__img img {
  height: 100%;
  object-fit: cover;
}
main .methodVideo-section .box__img::before {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #ffffff 13.62%, rgba(255, 255, 255, 0) 80%);
  height: 100%;
  width: 100%;
  top: 0;
}
main .structure-section {
  padding: 50px 0 0px;
}
main .structure-section .structure-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .structure-section .structure-container .box__content {
  width: 50%;
}
main .structure-section .structure-container .box__content h1 {
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 30px;
}
main .structure-section .structure-container .box__content p {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 26px;
  font-weight: 300;
}
main .structure-section .structure-container .box__img {
  width: 50%;
}
main .teachingProcess-section {
  padding: 50px 0 0px;
}
main .teachingProcess-section .teachingProcess-container .box__content {
  width: 100%;
  height: fit-content;
}
main .teachingProcess-section .teachingProcess-container .box__content h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 30px;
}
main .teachingProcess-section .teachingProcess-container .box__content p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 26px;
  font-weight: 300;
}
main .teachingProcess-section .teachingProcess-container .box__icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .teachingProcess-section .teachingProcess-container .box__icon .item {
  position: relative;
  width: 273.44px;
  height: 273.44px;
  border-radius: 50%;
  border: 20px solid #ffffff;
  position: relative;
  margin: 0 -29px;
  background: #ed1c24;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .teachingProcess-section .teachingProcess-container .box__icon .item h2 {
  z-index: 3;
  font-size: 55px;
  color: var(--mainRed);
}
main .teachingProcess-section .teachingProcess-container .box__icon .item h4 {
  z-index: 3;
  font-size: 24px;
}
main .teachingProcess-section .teachingProcess-container .box__icon .item::before {
  inset: 3px;
  background: white;
  content: "";
  position: absolute;
  border-radius: 50%;
}
main .route-section {
  padding: 50px 0 0;
}
main .route-section .route-container .route__content {
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
  text-align: center;
}
main .route-section .route-container .route__content h1 {
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 30px;
}
main .route-section .route-container .wrap__dess {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .route-section .route-container .wrap__dess .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.3333333333% - 56px);
  padding: 32px 38px 50px;
  margin: 0 28px;
}
main .route-section .route-container .wrap__dess .item .box__img,
main .route-section .route-container .wrap__dess .item p {
  margin-bottom: 30px;
}
main .route-section .route-container .wrap__dess .item p {
  height: 160px;
  text-align: center;
  font-size: 14px;
  max-width: 272px;
  margin-bottom: 10px;
  line-height: 26px;
  font-weight: 300;
}
main .route-section .route-container .wrap__dess .item .box__btn {
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 30px;
  gap: 10px;
  padding: 5px 5px 5px 30px;
  background: red;
  color: #fff;
  cursor: pointer;
}
main .route-section .route-container .wrap__dess .item .box__btn .button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  size: 10px;
  background-color: #fff;
  color: var(--mainRed);
  border-radius: 50%;
}
main .report-section {
  padding: 35px 0 110px;
  background: url("https://mathnasium.edu.vn/wp-content/uploads/2022/11/Group-18850-1-1.png") no-repeat;
  background-size: cover;
}
main .report-section .report-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
main .report-section .report-container .wrap__side {
  padding-left: 100px;
  padding-right: 10px;
  width: 60%;
}
main .report-section .report-container .wrap__side .box__content {
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
}
main .report-section .report-container .wrap__side .box__content h1 {
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: start;
}
main .report-section .report-container .wrap__side .wrap__dess {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
main .report-section .report-container .wrap__side .wrap__dess .item {
  width: calc(50% - 20px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 25px 24px 18px 36px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
main .report-section .report-container .wrap__side .wrap__dess .item .box__img {
  width: 100%;
}
main .report-section .report-container .wrap__side .wrap__dess .item .content {
  width: 100%;
}
main .report-section .report-container .wrap__side .wrap__dess .item .content p {
  text-align: start;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 26px;
  font-weight: 300;
}
main .schedule-section {
  padding: 50px 0 140px;
}
main .schedule-section .schedule-container {
  display: flex;
  align-items: center;
}
main .schedule-section .schedule-container .schedule__side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  position: relative;
}
main .schedule-section .schedule-container .schedule__side .box__img {
  width: 100%;
}
main .schedule-section .schedule-container .schedule__side .box__content {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 51px 82px 68px;
}
main .schedule-section .schedule-container .schedule__side .box__content h3 {
  font-size: 27px;
  margin-bottom: 40px;
}
main .schedule-section .schedule-container .schedule__side .box__content .time-text {
  font-size: 30px;
  margin-bottom: 30px;
  color: #ed1c24;
  line-height: 30px;
  font-weight: 700;
}
main .schedule-section .schedule-container .schedule__side .box__content .wrap__dess {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
main .schedule-section .schedule-container .schedule__side .box__content .wrap__dess .item + .item {
  margin-left: 10px;
}
main .schedule-section .schedule-container .schedule__side .box__content .wrap__dess .item {
  width: calc(33.3333333333% - 20px);
  padding: 10px;
  background: #b11116;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
}
main .schedule-section .schedule-container .schedule__side .box__content .wrap__dess .item h4 {
  font-size: 14px;
  align-items: center;
  font-weight: 400;
}
main .schedule-section .schedule-container .schedule__side .box__content .wrap__dess .item h4 b {
  align-items: center;
  display: block;
}
main .schedule-section .schedule-container .schedule__side .box__content .wrap__dess .item:nth-child(1) {
  background: #ed1c24;
}
main .schedule-section .schedule-container .schedule__side .box__content .wrap__dess .item:nth-child(2) {
  background: #ce181e;
}
main .schedule-section .schedule-container .schedule__side .box__content p {
  font-size: 13px;
}
main .schedule-section .schedule-container .img-side {
  width: 40%;
}
main .main__system {
  width: 100%;
  background-color: #f1f4f4 !important;
  padding: 50px 100px;
}
main .main__system .main__system__container {
  padding-top: 45px;
}
main .main__system .main__system__container h1 {
  margin-bottom: 20px;
}
main .main__system .main__system__container h1 {
  text-align: center;
}
main .main__system .main__system__container .box__system {
  display: flex;
  background-color: #fff;
  border-radius: 50px;
  overflow: hidden;
}
main .main__system .main__system__container .box__system .info__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding-top: 16px;
  background-color: #fff;
}
main .main__system .main__system__container .box__system .info__nav .box__select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .main__system .main__system__container .box__system .info__nav .box__select select {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #686876;
  border-radius: 60px;
  color: #686876;
  padding: 13px 50px 13px 47px;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all::-webkit-scrollbar {
  width: 5px;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all::-webkit-scrollbar-thumb {
  background: red;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 495px;
  gap: 12px;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all .result__container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px rgba(195, 195, 195, 0.6705882353);
  height: 100%;
  width: 100%;
  position: relative;
  padding: 25px 77px 25px 27px;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all .result__container .result__box {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all .result__container .result__box .location {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all .result__container .result__box .phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all .result__container .result__box .map__view {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 1px red;
  border-radius: 60px;
  text-align: center;
  justify-content: center;
  width: 169px;
  height: 35px;
  color: red;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all .result__container .result__box .arrow__btn {
  position: absolute;
  display: flex;
  border: solid 1px #686876;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  right: -60px;
  top: 90px;
  color: #686876;
}
main .main__system .main__system__container .box__system .info__nav .result__container__all .result__container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.63);
}

.teachingSkill-section {
  padding: 70px 0 100px;
}
.teachingSkill-section .teachingSkill-container .box__carousel {
  height: 500px;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-pre,
.teachingSkill-section .teachingSkill-container .box__carousel .slick-next {
  position: absolute;
  top: 210px;
  border: none;
  outline: none;
  color: red;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10000;
  font-weight: 1000;
  font-size: 1em;
  box-shadow: 0px 10px 20px rgba(9, 47, 70, 0.1);
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-pre {
  left: -5%;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-next {
  right: -5%;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list {
  overflow-y: visible;
  height: 100%;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track {
  height: 100%;
  overflow-y: visible;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item + .item {
  margin-left: 30px;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 3.20662px 40.0827px rgba(88, 88, 88, 0.3);
  border-radius: 10px;
  padding: 45px 26px 50px;
  height: fit-content;
  transform: translateY(50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item .content {
  width: 100%;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item .content h2 {
  font-size: 20px;
  height: 120px;
  margin: 0;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item .box__img {
  width: 100%;
  height: 180px;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item .wrap__desc {
  position: absolute;
  display: none;
  height: 10px;
  transition: var(--animiation);
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item .wrap__desc h1 {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 1000;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .item .wrap__desc p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7411764706);
  line-height: 1.5;
  margin-bottom: 29px;
  overflow: hidden;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .slick-current > .wrap__desc {
  background-image: url("https://mathnasium.edu.vn/wp-content/uploads/2022/11/Group-18854-1-1.png");
  height: 430px;
  left: 0;
  top: 0;
  transform: translateY(-15px);
  display: block;
  padding: 35px;
  border-radius: 10px;
  transition: var(--animiation);
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .slick-current > .content,
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .slick-current > .box__img {
  opacity: 0;
}
.teachingSkill-section .teachingSkill-container .box__carousel .slick-list .slick-track .slick-current {
  background: transparent;
  box-shadow: none;
}

@media only screen and (max-width: 1023px) {
  main .container {
    max-width: 960px;
  }
  main .methodBanner-section .banner__side {
    display: none;
  }
  main .methodStudy-section .methodStudy-container .wrap__dess .item {
    width: calc(50% - 40px);
    align-items: center;
    flex-direction: column;
    margin: 0 20px 25px;
  }
  main .methodStudy-section .methodStudy-container .wrap__dess .item .content {
    padding: 0;
    width: 100%;
  }
  main .methodStudy-section .methodStudy-container .wrap__dess .item .content p {
    text-align: center;
  }
  main .structure-section .structure-container .box__content h1 {
    font-size: 35px;
  }
  main .structure-section .structure-container .box__content p {
    font-size: 13px;
  }
  main .teachingProcess-section .teachingProcess-container .box__content h1 {
    font-size: 35px;
  }
  main .teachingProcess-section .teachingProcess-container .box__content p {
    font-size: 13px;
  }
  main .route-section {
    margin-bottom: 50px;
  }
  main .route-section .route-container .wrap__dess {
    justify-content: center;
  }
  main .route-section .route-container .wrap__dess .item {
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  main .route-section .route-container .wrap__dess .item .box__img {
    max-width: 400px;
    min-width: 200px;
  }
  main .route-section .route-container .wrap__dess .item .box__content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .route-section .route-container .wrap__dess .item .box__content p {
    max-width: 400px;
    max-height: 100px;
  }
  main .report-section .report-container .wrap__side {
    width: 70%;
  }
  main .schedule-section {
    padding: 50px 0 140px;
  }
  main .schedule-section .schedule-container {
    flex-direction: column;
  }
  main .schedule-section .schedule-container .schedule__side {
    width: 70%;
  }
  main .schedule-section .schedule-container .schedule__side .box__content {
    width: 100%;
    padding: 71px 43px 55px;
  }
  main .schedule-section .schedule-container .schedule__side .box__content h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  main .schedule-section .schedule-container .schedule__side .box__content .time-text {
    font-size: 23px;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  main .schedule-section .schedule-container .img-side {
    width: 40%;
  }
  main .main__system .box__system {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  main .methodBanner-section .banner__side {
    display: none;
  }
  main .methodStudy-section .methodStudy-container .wrap__dess .item {
    width: 100%;
    margin: 0;
  }
  main .methodStudy-section .methodStudy-container .wrap__dess .item .content {
    padding: 0;
    width: 100%;
  }
  main .methodStudy-section .methodStudy-container .wrap__dess .item .content p {
    text-align: center;
  }
  main .structure-section .structure-container {
    flex-direction: column;
  }
  main .structure-section .structure-container .box__content {
    width: 100%;
  }
  main .structure-section .structure-container .box__content h1 {
    font-size: 30px;
  }
  main .structure-section .structure-container .box__content p {
    font-size: 13px;
  }
  main .structure-section .structure-container .box__img {
    height: fit-content;
    width: 100%;
  }
  main .teachingProcess-section .teachingProcess-container .box__content h1 {
    font-size: 30px;
  }
  main .teachingProcess-section .teachingProcess-container .box__content p {
    font-size: 13px;
  }
  main .teachingProcess-section .teachingProcess-container .box__icon .item {
    width: 168px;
    height: 168px;
  }
  main .teachingProcess-section .teachingProcess-container .box__icon .item h2 {
    font-size: 30px;
  }
  main .teachingProcess-section .teachingProcess-container .box__icon .item h4 {
    font-size: 20px;
  }
  main .report-section .report-container .wrap__side {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  main .report-section .report-container .wrap__side .box__content h1 {
    font-size: 26px;
    line-height: 1.3;
  }
  main .report-section .report-container .wrap__side .wrap__dess {
    gap: 10px;
    justify-content: space-between;
  }
  main .report-section .report-container .wrap__side .wrap__dess .item {
    width: calc(50% - 10px);
    margin: 0;
  }
  main .schedule-section {
    padding: 50px 0 140px;
  }
  main .schedule-section .schedule-container {
    flex-direction: column;
  }
  main .schedule-section .schedule-container .schedule__side {
    width: 100%;
    overflow: hidden;
  }
  main .schedule-section .schedule-container .schedule__side .box__content {
    padding: 91px 80px 55px;
  }
  main .schedule-section .schedule-container .schedule__side .box__content h3 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  main .schedule-section .schedule-container .schedule__side .box__content .time-text {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  main .schedule-section .schedule-container .img-side {
    width: 40%;
  }
  main .main__system {
    padding: 0;
  }
  main .main__system .box__system {
    border-radius: 0 !important;
  }
  main .main__system .box__system .info__nav .box__select {
    gap: 5px;
  }
  main .main__system .box__system .info__nav .box__select .box__city select,
  main .main__system .box__system .info__nav .box__select .box__distr select {
    padding: 10px 10px 13px 10px;
  }
}
@media only screen and (max-width: 400px) {
  main .teachingProcess-section .teachingProcess-container .box__icon .item {
    width: 130px;
    height: 130px;
  }
  main .teachingProcess-section .teachingProcess-container .box__icon .item h2 {
    font-size: 20px;
  }
  main .teachingProcess-section .teachingProcess-container .box__icon .item h4 {
    font-size: 14px;
  }
}/*# sourceMappingURL=method.css.map */