@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
}
body img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
body h1 {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 1000;
  font-family: headerfont;
  /* text-transform: uppercase;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
body p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

main section {
  width: 100%;
  height: auto;
}
main .container {
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
main .banner {
  display: flex;
  width: 100%;
  height: fit-content;
}
main .banner .box__img {
  width: 94%;
  height: 100%;
}
main .banner .box__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .banner .banner__side {
  position: relative;
  display: flex;
  background-color: var(--primaryColor);
  flex: 0 0 auto;
  width: 6%;
}
main .banner .banner__side .nav {
  flex: 1 0 auto;
  bottom: 0;
  left: 75%;
  position: absolute;
  height: fit-content;
  display: flex;
  background-color: transparent;
  transform-origin: bottom left;
  transform: rotateZ(-90deg);
  width: 100%;
  margin-bottom: 3px;
}
main .banner .banner__side .nav .box__content {
  background-color: transparent;
  height: fit-content;
}
main .banner .banner__side .nav .box__content p {
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  white-space: nowrap;
  margin-left: 20px;
  text-transform: uppercase;
}
main .banner .banner__side .nav .icon {
  margin-top: 20px;
  width: 100%;
  flex: 1 0 auto;
  height: 30px;
  transform: translateY(-50%);
  list-style: none;
  background: transparent;
  display: flex;
  gap: 20px;
}
main .banner .banner__side .nav .icon li {
  flex: 0 0 auto;
  transform: rotate(90deg);
}
main .hero-section {
  padding: 80px 0 110px;
  background: var(--background_1);
  background-size: cover;
  color: var(--colorText_1) !important;
  overflow: hidden;
}
main .hero-section .hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .hero-section .hero-container .box__img {
  border-radius: 20px;
  overflow: hidden;
  width: 50%;
  height: 100%;
}
main .hero-section .hero-container .box__content {
  padding-right: 80px;
  height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
}
main .hero-section .hero-container .box__content h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .hero-section .hero-container .box__content p {
  position: relative;
}
main .hero-section .hero-container .box__content p:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  height: 100px;
  width: 5px;
  background-color: var(--primaryColor);
}

.benefit {
  width: 100%;
  padding: 140px 0 120px;
  color: var(--colorText_2);
  background-image: url(/assets/img/patten-02.png);
}
.benefit .benefit__container {
  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.benefit .benefit__container .benefit__content {
  width: 50%;
  height: 100%;
  text-align: start;
}
.benefit .benefit__container .benefit__carousel {
  width: 50%;
  height: 100%;
}
.benefit .benefit__container .benefit__carousel .slick-list {
  padding-left: 190px;
  width: 100%;
  overflow-x: visible;
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track {
  overflow-x: visible;
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item {
  color: var(--colorText_1);
  width: 100% !important;
  width: 100%;
  height: 130px;
  margin-bottom: 5px;
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item h4 {
  position: relative;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item h4::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -70px;
  top: 30px;
  border-radius: 50%;
  background-color: var(--colorText_1);
  z-index: 100;
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: -60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--colorText_1);
  z-index: 100;
  top: 40px;
  transform: translate(-50%, -50%);
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item p {
  font-size: 14px;
  line-height: 1.5;
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .slick-current {
  color: var(--colorText_2);
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .slick-current h4::before {
  border: 1px solid var(--colorText_2);
}
.benefit .benefit__container .benefit__carousel .slick-list .slick-track .slick-current h4::after {
  background: var(--colorText_2);
}

.job {
  background-color: var(--background_1);
  width: 100%;
  height: auto;
  padding: 50px 0 100px;
}
.job .jon-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  max-width: 1200px;
}
.job .jon-container .box__content {
  width: 100%;
  text-align: center;
}
.job .jon-container .box__content h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--colorText_1);
}
.job .jon-container .box__table {
  width: 100%;
  height: fit-content;
}
.job .jon-container .box__table table {
  width: 100%;
}
.job .jon-container .box__table table thead {
  text-align: center;
}
.job .jon-container .box__table table thead tr th {
  background: var(--primaryColor);
  color: var(--colorText_2);
  font-weight: 700;
  padding-bottom: 17px;
  padding-top: 17px;
  font-size: 15px;
}
.job .jon-container .box__table table thead tr th:nth-child(1) {
  border-radius: 10px 0 0 0;
  width: 10%;
}
.job .jon-container .box__table table thead tr th:nth-child(2) {
  width: 20%;
}
.job .jon-container .box__table table thead tr th:not(:last-child) {
  border-right: 1px solid rgba(235, 235, 235, 0.2);
}
.job .jon-container .box__table table tbody tr {
  text-align: center;
}
.job .jon-container .box__table table tbody tr td {
  position: relative;
  color: var(--colorText_1);
  padding: 25px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.job .jon-container .box__table table tbody tr td:nth-child(1) {
  width: 10%;
  font-weight: 700;
  font-size: 25px;
}
.job .jon-container .box__table table tbody tr td:nth-child(2) {
  cursor: pointer;
  text-align: start;
  width: 20%;
}
.job .jon-container .box__table table tbody tr td:nth-child(3) {
  padding: 0;
}
.job .jon-container .box__table table tbody tr td:nth-child(3) a {
  color: var(--colorText_3);
  line-height: 45px;
  min-width: 130px;
  padding: 10px 30px;
  border: 1px solid var(--colorText_3);
  border-radius: 30px;
}
.job .jon-container .box__table table tbody tr td:nth-child(4) {
  font-size: 20px;
}
.job .jon-container .box__table table tbody tr:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1023px) {
  main .container {
    max-width: 960px;
  }
  main .hero-section .hero-container {
    flex-wrap: wrap;
  }
  main .hero-section .hero-container .box__content {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }
  main .hero-section .hero-container .box__img {
    width: 100%;
  }
  main .benefit .benefit__container {
    max-width: 860px;
  }
  main .benefit .benefit__container .benefit__content h2 {
    font-size: 30px;
  }
  main .benefit .benefit__container .benefit__carousel .slick-list {
    padding-left: 90px;
  }
  main .benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item {
    height: 140px;
  }
  main .benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item h4 {
    font-size: 25px;
  }
  main .job .jon-container {
    max-width: 960px;
  }
  main .job .jon-container .box__content h2 {
    font-size: 25px;
  }
  main .job .jon-container .box__table table thead {
    display: none;
  }
  main .job .jon-container .box__table table tbody tr {
    display: flex;
    flex-direction: column;
  }
  main .job .jon-container .box__table table tbody tr td {
    width: 100% !important;
    padding-left: 40% !important;
  }
  main .job .jon-container .box__table table tbody tr td:nth-child(2) {
    cursor: pointer;
    text-align: center;
  }
  main .job .jon-container .box__table table tbody tr td:nth-child(1):before {
    position: absolute;
    content: "STT";
    left: 40px;
  }
  main .job .jon-container .box__table table tbody tr td:nth-child(2):before {
    position: absolute;
    content: "Vị trí tuyển dụng";
    left: 40px;
    text-transform: uppercase;
  }
  main .job .jon-container .box__table table tbody tr td:nth-child(3):before {
    position: absolute;
    content: "Đăng tuyển";
    top: 15px;
    left: 40px;
    text-transform: uppercase;
  }
  main .job .jon-container .box__table table tbody tr td:nth-child(4):before {
    position: absolute;
    content: "nơi làm việc";
    left: 40px;
    text-transform: uppercase;
  }
  main .job .jon-container .box__table table tbody tr td:nth-child(5):before {
    position: absolute;
    content: "ngày hết hạn";
    left: 40px;
    text-transform: uppercase;
  }
  main .job .jon-container .box__table table tbody tr td:before {
    font-size: 14px;
    font-weight: 700;
  }
}
@media screen and (max-width: 790px) {
  main .benefit {
    padding: 30px 0 50px;
  }
  main .benefit .benefit__container {
    width: 100%;
    flex-direction: column;
  }
  main .benefit .benefit__container .benefit__content {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  main .benefit .benefit__container .benefit__content h2 {
    font-size: 25px;
  }
  main .benefit .benefit__container .benefit__carousel {
    width: 100%;
  }
  main .benefit .benefit__container .benefit__carousel .slick-list {
    width: 100%;
  }
  main .benefit .benefit__container .benefit__carousel .slick-list .slick-track {
    width: 100%;
  }
  main .benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item {
    width: 100%;
    height: 140px;
  }
  main .benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item h4 {
    font-size: 20px;
  }
  main .job .jon-container .box__content h2 {
    font-size: 25px;
  }
  main .job .jon-container .box__table table tbody tr td {
    font-size: 11px !important;
  }
  main .job .jon-container .box__table table tbody tr td a {
    font-size: 11px;
  }
  main .job .jon-container .box__table table tbody tr td:before {
    left: 5px !important;
  }
}
@media screen and (max-width: 450px) {
  main .benefit .benefit__container .benefit__carousel .slick-list .slick-track .benefit__carousel--item {
    height: 200px;
  }
}/*# sourceMappingURL=recruitment.css.map */