/* Tablet & mobile   */
@media (max-width: 991.98px) {
  .introduce {
    display: flex;
    flex-direction: column;
  }
  .introduce .introduce__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .introduce .introduce__item p {
    width: 100%;
    width: 100%;
  }
  .introduce .introduce__item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .introduce .introduce__item--2 {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .introduce .introduce__item--img1 {
    width: 100%;
  }
  .introduce .introduce__item--img2 {
    width: 100%;
  }
  .introduce .introduce__item--img3 {
    width: 100%;
  }
  .value {
    display: flex;
    flex-direction: column;
  }
  .value .value__pic {
    width: 100%;
  }
  .value .value__desc {
    width: 100%;
    text-align: center;
  }
  .value .warp__last {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .value .warp__last .box__img {
    width: 100%;
  }
  .value .warp__last .box__img .left__img {
    width: 150px;
    left: 50px;
  }
  .value .warp__last .box__img .main__img {
    width: 300px;
  }
  .value .warp__last .box__img .right__img {
    width: 150px;
    right: 50px;
  }
  .value .warp__last .box__content {
    width: 100%;
  }
  .value .warp__last .box__content h2 {
    text-align: center;
  }
  .reason {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .reason h1 {
    margin-top: 70px;
  }
  .reason .reason__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    text-align: center;
  }
  .reason .reason__item {
    width: calc(33.3333333333% - 50px);
  }
  .result {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
  }
  .result .result__list {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  .result__pic img {
    width: 100%;
    margin-top: 50px;
  }
  .team .team__pic {
    height: 100%;
  }
  .team h2 {
    width: 100%;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 0 20px;
    color: rgb(35, 31, 32);
  }
  .team p:first-of-type {
    font-size: 15px;
    width: 100%;
    line-height: 26px;
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
    overflow-wrap: break-word;
    color: rgb(35, 31, 32);
    margin-bottom: 19px;
  }
  .question-section .question-list {
    padding: 20px 10px;
  }
}
@media (max-width: 767.98px) {
  .team--teacher {
    object-fit: contain;
    height: fit-content;
  }
  .reason h1 {
    margin-top: 70px;
  }
  .reason .reason__item {
    width: 80%;
  }
  .result .result__list {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .introduce .introduce__item--2 {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .introduce .introduce__item p {
    width: 100%;
  }
  .introduce .introduce__item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .introduce .introduce__item--img1 {
    width: 100%;
  }
  .introduce .introduce__item--img2 {
    width: 100%;
  }
  .introduce .introduce__item--img3 {
    width: 100%;
  }
  .result__pic img {
    width: 100%;
    margin-top: 50px;
  }
  .value .warp__last {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .value .warp__last .box__img {
    width: 100%;
  }
  .value .warp__last .box__img .left__img {
    width: 150px;
    left: 50px;
  }
  .value .warp__last .box__img .main__img {
    width: 300px;
  }
  .value .warp__last .box__img .right__img {
    width: 150px;
    right: 50px;
  }
  .value .warp__last .box__content {
    width: 100%;
  }
  .value .warp__last .box__content h2 {
    text-align: center;
  }
  .team__pic {
    height: 100%;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
  }
  .team__pic .team__pic--left {
    width: 100%;
    height: fit-content;
  }
  .team__pic .team__pic--left img {
    object-fit: contain;
  }
  .team__pic .team__pic--right {
    width: 100%;
  }
  .question-section {
    margin-top: 140px;
  }
  .question-section .question-list {
    padding: 20px 10px;
  }
}
@media (max-width: 500px) {
  .banner .box__img {
    height: 200px;
  }
  .banner .box__img img {
    height: 100%;
    -o-object-fit: contain !important;
    object-fit: contain !important;
  }
  .introduce {
    margin-top: -10px;
  }
  .introduce .introduce__desc h1 {
    height: auto;
  }
  .reason h1 {
    margin-top: 170px;
  }
  .team .team__cta {
    padding-bottom: 20px;
  }
  .team h2 {
    margin-top: 160px;
  }
  .question-section {
    margin-top: 140px;
  }
  .result .result__statistic h3 {
    font-size: 32px;
  }
  .result .result__statistic--middle {
    margin: 0 5px;
  }
  .result .result__desc p {
    margin: 10px 5px;
  }
  .result .result__desc strong {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .banner .banner__side {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .banner .banner__side {
    display: none;
  }
} /*# sourceMappingURL=responsive.css.map */
