@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primaryColor: rgb(253, 0, 0);
  --animiation: 0.5s ease;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: red;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.01em;
  scroll-behavior: smooth;
  a {
    color: black;
    text-decoration: none;
  }
  p {
    line-height: 30px;
  }
  img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
  h1 {
    text-transform: uppercase;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  section {
    width: 100%;
    height: auto;
  }
  .contactBanner-section {
    display: flex;
    height: fit-content;
    .box__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: fit-content;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    .banner__side {
      position: relative;
      display: flex;
      background-color: var(--primaryColor);
      flex: 0 0 auto;
      width: 6%;
      .nav {
        flex: 1 0 auto;
        bottom: 0;
        left: 75%;
        position: absolute;
        height: fit-content;
        display: flex;
        background-color: transparent;
        transform-origin: bottom left;
        transform: rotateZ(-90deg);
        width: 100%;
        margin-bottom: 3px;
        .box__content {
          background-color: transparent;
          height: fit-content;
          p {
            font-size: 20px;
            color: #fff;
            background-color: transparent;
            white-space: nowrap;
            margin-left: 20px;
            text-transform: uppercase;
          }
        }
        .icon {
          margin-top: 20px;
          width: 100%;
          flex: 1 0 auto;
          height: 30px;
          transform: translateY(-50%);
          list-style: none;
          background: transparent;
          display: flex;
          gap: 20px;
          li {
            flex: 0 0 auto;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .centralOffice-section {
    background-color: var(--background_1);
    padding: 155px 0 90px;
    .centralOffice-container {
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 1200px;
      height: auto;
      text-align: center;
      color: var(--colorText_1);
      .box__content {
        h1 {
          color: var(--colorText_1);
          font-size: 40px;
          margin-bottom: 95px;
        }
      }
      .wrap__dess {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
          max-width: 240px;
          padding: 0 3px;
          margin: 0 auto;
          text-align: center;
          .box__img {
            height: 70px;
            margin-bottom: 10px;
            display: flex;
            align-items: e;
            justify-content: center;
          }
          h3 {
            margin-bottom: 40px;
          }
          .content {
            p {
              font-size: 14px;
              line-height: 26px;
              margin-bottom: 1.5em;
            }
          }
        }
      }
    }
  }
  .contact-section {
    background-color: var(--background_1);
    padding: 0 0 288px;
    .contact-container {
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 1200px;
      height: auto;
      text-align: center;
      .box__content {
        h1 {
          color: var(--colorText_1);
          font-size: 40px;
          margin-bottom: 35px;
        }
      }
      .wrap__dess {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 40px rgba(103, 94, 94, 0.2);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .box__input {
          padding: 68px 58px 50px;
          width: 50%;
          height: auto;
          display: flex;
          align-items: start;
          justify-content: start;
          flex-direction: column;
          .box__enter {
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
              color: var(--colorText_1);
              width: 50%;
              display: flex;
              align-items: start;
              justify-content: start;
              flex-direction: column;
              margin-bottom: 20px;
              padding: 0 10px;
              label {
                font-size: 15px;
                margin-bottom: 10px;
              }
              input {
                background-color: var(--background_1);
                width: 100%;
                border: 1px solid var(--primaryColor);
                height: 45px;
                padding: 0 30px;
                border-radius: 100px;
              }
              textarea {
                width: 460px !important;
                height: 92px !important;
                border: 1px solid var(--primaryColor) !important;
                border-radius: 10px;
                padding: 10px 15px;
                outline: none;
                background-color: var(--background_1);
              }
            }
          }
          .box__btn {
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: end;
            border-radius: 30px;
            gap: 10px;
            padding: 5px 5px 5px 30px;
            background: var(--primaryColor);
            color: #fff;
            cursor: pointer;
            .button__icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 15px;
              height: 15px;
              padding: 10px;
              size: 10px;
              background-color: #fff;
              color: var(--primaryColor);
              border-radius: 50%;
            }
          }
        }
        .box__img {
          align-self: stretch;
          height: auto;
          width: 50%;
          img {
            max-width: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .location-section {
    width: 100%;
    height: auto;
    background: url("/assets/img/patten-02.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding: 50px 0 110px;
    .location-container {
      padding: 0 10px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -200px;
      max-width: 1200px;
      height: auto;
      text-align: center;
      .wrap__dess {
        box-shadow: 10px 0px 25px rgba(3, 3, 3, 0.2);
        background-color: var(--background_1);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 10px;
        color: var(--colorText_1);
        .wrap__map {
          width: 50%;
          height: 100%;
          .map {
            width: 100%;
          }
        }
        .wrap__desc {
          padding: 77px 18px 55px 101px;
          width: 50%;
          height: 100%;
          .box__content {
            width: 100%;
            height: auto;
            h1 {
              width: 100%;
              font-size: 40px;
              margin-bottom: 20px;
              text-align: start;
            }
          }

          .box__ress {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            .item {
              width: 100%;
              display: flex;
              align-items: center;
              h3 {
                text-align: start;
                width: 25%;
                font-size: 16px;
                margin-bottom: 20px;
                line-height: 30px;
              }
              .content {
                max-width: 234px;
                p {
                  text-align: justify;
                  font-size: 14px;
                  color: #231f20;
                  margin-bottom: 1.5em;
                  font-weight: 400;
                  a {
                    color: var(--colorText_3);
                  }
                  a:hover {
                    color: var(--colorText_1);
                    transition: var(--animiation);
                  }
                }
              }
            }
          }
        }
      }
      .box__btn {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: end;
        border-radius: 30px;
        gap: 10px;
        padding: 5px 5px 5px 30px;
        background: var(--primaryColor);
        color: #fff;
        cursor: pointer;
        .button__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;
          padding: 10px;
          size: 10px;
          background-color: #fff;
          color: var(--primaryColor);
          border-radius: 50%;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  main {
    .contact-section {
      .contact-container {
        max-width: 960px;
        .box__content {
          h1 {
            margin-bottom: 40px;
            font-size: 35px;
          }
        }
        .wrap__dess {
          height: 525px;
          .box__input {
            height: 100%;
            .box__enter {
              .item {
                label {
                }
                textarea {
                  width: 335px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  main {
    .contactBanner-section {
      .banner__side {
        display: none;
      }
    }
    .centralOffice-section {
      padding-bottom: 0px;
    }
    .contact-section {
      .contact-container {
        max-width: 960px;
        .box__content {
          h1 {
            margin-bottom: 30px;
            font-size: 25px;
          }
        }
        .wrap__dess {
          height: 712px;
          .box__input {
            height: 100%;
            .box__enter {
              flex-direction: column;
              .item {
                width: 100%;
                label {
                }
                textarea {
                  max-width: 100% !important;
                }
              }
            }
          }
        }
      }
    }
    .location-section {
      .location-container {
        max-width: 824px;
        margin-top: 0;
        .wrap__dess {
          flex-wrap: wrap;
          .wrap__map {
            width: 100%;
          }
          .wrap__desc {
            width: 100%;
            padding: 30px;
            .box__content {
              h1 {
                margin-bottom: 30px;
                font-size: 25px;
              }
            }
            .box__ress {
              .item + .item {
                border-top: 1px solid #bbbbbb;
              }
              .item {
                h3 {
                  margin-bottom: 10px;
                }
                .content {
                  p {
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 790px) {
  main {
    .centralOffice-section {
      padding-top: 60px;
      .centralOffice-container {
        max-width: 824px;
        .box__content {
          h1 {
            margin-bottom: 30px;
            font-size: 25px;
          }
        }
      }
    }
    .contact-section {
      .contact-container {
        max-width: 824px;
        .wrap__dess {
          height: fit-content;
          flex-direction: column;
          .box__input {
            width: 100%;
            padding: 30px;
            .box__enter {
              .item {
                textarea {
                  width: 100% !important;
                }
              }
            }
          }
          .box__img {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              object-fit: cover;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
