body {
  a {
    text-decoration: none;
  }
  img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 1000;
    font-family: headerfont;
    /* text-transform: uppercase;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  section {
    width: 100%;
    height: 100%;
  }
  .container {
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  .sliderShow-section {
    display: flex;
    height: fit-content;
    .sliderShow-carousel {
      width: 94%;
      .category__item {
        position: relative;
        width: 100%;
        height: fit-content;
      }
      .slick-dots {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: start;
        list-style: none;
        gap: 20px;
        text-align: center;
        margin-left: 30px;
        transform: translateY(-30px);
        li {
          .dot {
            font-size: 50px;
            width: 15px;
            height: 15px;
            border: 3px solid #fff;
            border-radius: 50%;
            background-color: var(--primaryColor);
            cursor: pointer;
          }
        }
        li.slick-active {
          .dot {
            font-size: 20px;
            background-color: #fff;
          }
        }
      }
    }
    .banner__side {
      position: relative;
      display: flex;
      background-color: var(--primaryColor);
      flex: 0 0 auto;
      width: 6%;
      .nav {
        flex: 1 0 auto;
        bottom: 0;
        left: 75%;
        position: absolute;
        height: fit-content;
        display: flex;
        background-color: transparent;
        transform-origin: bottom left;
        transform: rotateZ(-90deg);
        width: 100%;
        margin-bottom: 3px;
        .box__content {
          background-color: transparent;
          height: fit-content;
          p {
            font-size: 15px;
            color: #fff;
            background-color: transparent;
            white-space: nowrap;
            margin-left: 13px;
          }
        }
        .icon {
          margin: 10px 0px 0;
          width: 100%;
          flex: 1 0 auto;
          height: 30px;
          transform: translateY(-50%);
          list-style: none;
          background: transparent;
          display: flex;
          gap: 20px;
          li {
            flex: 0 0 auto;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .presentation-section {
    padding: 80px 0 110px;
    background: var(--background_1);
    background-size: cover;
    color: var(--colorText_1) !important;
    .wrap__dess {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: start;
      .box__img {
        border-radius: 20px;
        overflow: hidden;
        width: calc(100% / 2);
        height: 100%;
      }
      .box__content {
        padding-left: 80px;
        width: calc(100% / 2);
        height: 100%;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: start;
        .content {
          width: 100%;
          height: auto;
          h1 {
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .content-mainDescription {
            font-size: 20px;
            margin-bottom: 20px;
            strong {
              font-weight: 1000;
            }
            span {
              font-weight: 200;
            }
          }
          .content-subDescription {
            font-weight: 300;
            margin-bottom: 20px;
          }
        }
        .box__btn {
          white-space: nowrap;
          margin-top: 35px;
          display: flex;
          align-items: center;
          justify-content: end;
          border-radius: 30px;
          gap: 10px;
          padding: 5px 5px 5px 30px;
          background: var(--primaryColor);
          color: #fff;
          cursor: pointer;
          text-transform: uppercase;
          .button__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            padding: 10px;
            size: 10px;
            background-color: #fff;
            color: var(--primaryColor);
            border-radius: 50%;
          }
        }
      }
    }
    .warp__first {
      color: black;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .video-section {
    background-color: var(--background_1);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    .box_video {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 5px solid var(--background_1);
      video {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
      }
    }
  }
  .studyProcess-section {
    background: var(--background_2);
    color: var(--colorText_2);
    background-size: cover;
    padding: 50px 0 110px;
    .studyProcess-container {
      text-align: center;
      .processBox__content {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
      }
      .wrap__dess {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 30px;
        .item {
          width: calc((100% / 4) - 30px);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          .box__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3 {
              font-size: 16px;
              color: var(--colorText_2);
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .thinkAbout__section {
    background: var(--background_3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0 100px;
    gap: 20px;

    .thinkAbout__content {
      width: 60%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: var(--colorText_3);
      h1 {
        width: 80%;
        font-size: 3em;
        font-weight: 1000;
      }
    }
    .thinkAbout__category {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      position: relative;
      .slick-list {
        // display: flex;
        overflow: hidden;
        width: 100%;
      }

      .slick-current {
        color: black !important;
        background-color: var(--background_1) !important;
      }
      .slick-current > .box__img {
        background-color: var(--background_1) !important;
      }
      .slick-track {
        margin: 0 auto;
        height: 600px;
        overflow-y: auto !important;
        padding-top: 107px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .category__item {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          position: relative;
          height: 400px;
          color: #fff;
          background-color: var(--background_2);
          margin: 0 80px;
          padding: 110px 60px 0;
          display: flex;
          align-items: start;
          justify-content: center;
          border-radius: 24px;
          gap: 20px;
          .box__img {
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            padding: 3px;
            background-color: var(--background_2);
            border-radius: 50%;
          }
          .box__content {
            color: var(--colorText_3);
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            text-align: center;
          }
          .des {
            font-weight: 200;
          }
        }
      }
    }
    .slick-pre,
    .slick-next {
      cursor: pointer;
      position: absolute;
      top: 350px;
      border: none;
      outline: none;
      color: var(--colorText_1);
      background: var(--background_1);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      z-index: 10000;
      font-weight: 1000;
      font-size: 1em;
    }
    .slick-pre {
      left: 15%;
    }
    .slick-next {
      right: 15%;
    }
  }
  .newAndEvent-section {
    padding: 80px 0 110px;
    background-color: var(--background_1);
    .newAnhEvent-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .newAndEvent__content {
        h1 {
          color: var(--colorText_1);
          margin-bottom: 50px;
        }
      }
      .grid__container {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
        .box__grid-main {
          flex-grow: 1;
        }
        .box__grid {
          position: relative;
          width: calc(100% / 2);
          height: fit-content;
          border-top-left-radius: 14px;
          border-top-right-radius: 14px;
          overflow: hidden;
          background: transparent;
          a {
            color: var(--colorText_1);
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          .box__content {
            text-overflow: ellipsis;
            .content {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              h3 {
                text-align: start;
              }
            }
            .box__date {
              position: absolute;
              padding: 10px 13px 20px;
              background-color: var(--primaryColor);
              top: 0;
              color: #fff;
              .date {
                font-size: 35px;
                font-weight: 700;
              }
              .month {
                font-size: 10px;
              }
            }
          }
          .box__img {
            width: 100%;
            height: 360px;
            display: flex;
            overflow: hidden;
            display: flex;
            align-items: start;
            justify-content: end;
            border-radius: 14px;
            img {
              max-width: 579px;
              height: 360px;
              object-fit: cover;
            }
          }
          a:hover img {
            transition: var(--animiation);
            transform: rotate(-5deg) scale(1.2);
          }
        }
      }
      .box__btn {
        white-space: nowrap;
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: end;
        border-radius: 30px;
        gap: 10px;
        padding: 5px 5px 5px 30px;
        background: var(--primaryColor);
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        .button__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;
          padding: 10px;
          size: 10px;
          background-color: #fff;
          color: var(--primaryColor);
          border-radius: 50%;
        }
      }
    }
  }

  .system-section {
    background: var(--background_1);
    padding: 50px 0 110px;
    color: var(--colorText_1);
    .system-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .box__content-left {
        width: calc(100% / 3);
        height: auto;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        h1 {
          margin-bottom: 20px;
        }
        .box__btn {
          white-space: nowrap;
          margin-top: 35px;
          display: flex;
          align-items: center;
          justify-content: end;
          border-radius: 30px;
          gap: 10px;
          padding: 5px 5px 5px 30px;
          background: var(--primaryColor);
          color: #fff;
          cursor: pointer;
          text-transform: uppercase;
          .button__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            padding: 10px;
            size: 10px;
            background-color: #fff;
            color: var(--primaryColor);
            border-radius: 50%;
          }
        }
      }
      .box__img {
        width: calc(100% / 3);
      }
      .box__content-right {
        width: calc(100% / 3);
        padding-left: 80px;
        .box__items {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          gap: 50px;
          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .counter {
              color: red;
              font-size: 4em;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  main {
    .container {
      max-width: 960px;
    }
    .sliderShow-section {
      .sliderShow-carousel {
        width: 100%;
      }
      .banner__side {
        display: none;
      }
    }
    .presentation-section {
      .presentation-container {
        .wrap__dess {
          flex-wrap: wrap;
          .box__img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .box__content {
            padding: 0;
            width: 100%;
          }
        }
        .warp__first {
          justify-content: center;
          .item {
            width: calc(100% / 3);
          }
        }
      }
    }
    .studyProcess-section {
      .studyProcess-container {
        .wrap__dess {
          flex-wrap: wrap;
          .item {
            width: calc((100% / 2) - 30px);
          }
        }
      }
    }
    .newAndEvent-section {
      .newAnhEvent-container {
        max-width: 824px;
      }
    }
    .thinkAbout__section {
      .thinkAbout__content {
        width: 100%;
        padding: 30px;
      }
      .thinkAbout__category {
        .slick-track {
          gap: 20px;
          .category__item {
            width: 100%;
          }
        }
        .slick-pre {
          left: 5%;
        }
        .slick-next {
          right: 5%;
        }
      }
    }
    .system-section {
      gap: 50px;
      .system-container {
        flex-wrap: wrap;
        .box__content-left {
          width: 90%;
          margin-bottom: 50px;
        }
        .box__img {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 50px;
        }
        .box__content-right {
          padding: 0;
          width: 100%;
          .box__items {
            width: 100%;
            gap: 5px;
            flex-direction: row;
            justify-content: space-between;
            .item {
              width: calc(100% / 3);
              align-items: start;
              justify-content: center;
              h1 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 14px;
    }
  }
  main {
    .container {
      max-width: 824px;
    }
    .presentation-section {
      .presentation-container {
        .warp__first {
          justify-content: start;
          .item {
            width: 50%;
          }
        }
        .warp__last {
          flex-wrap: wrap;
          .box__img {
            width: 100%;
          }
          .box__content {
            width: 100%;
          }
        }
      }
    }
    .studyProcess-section {
      .studyProcess-container {
        padding: 0;
        .wrap__dess {
          flex-wrap: wrap;
          .item {
            width: 100%;
            .box__content {
              max-width: 270px;
            }
          }
        }
      }
    }
    .thinkAbout__section {
      .thinkAbout__content {
        padding: 0px 10px;
        height: fit-content;
        width: 100%;
        h1 {
          font-size: 1.3em;
          width: 100%;
        }
      }
      .thinkAbout__category {
        .slick-list {
          .slick-track {
            gap: 0px;
            height: 650px;
            .category__item {
              height: 500px;
              padding: 110px 30px 0;
              margin: 5px;
            }
          }
        }
      }
    }
    .newAndEvent-section {
      .newAnhEvent-container {
        .grid__container {
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
          .box__grid {
            width: 100%;
            .box__img {
              height: 200px;
              img {
                max-width: none;
                width: 100%;
                height: 200px;
              }
            }
          }
        }
      }
    }
    .system-section {
      .system-container {
        .box__content-right {
          padding: 0;
          width: 100%;
          .box__items {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            .item {
              width: calc((100% / 2) - 5px);
              align-items: start;
              justify-content: center;
              .counter {
                font-size: 30px;
              }
              h1 {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes moveup {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes movedown {
  from {
    transform: translateY(70px);
  }
  to {
    transform: translateY(0);
  }
}
